/*
---------------------------------------------
subscribe
---------------------------------------------
*/

.img-fill #contact-us-main-image {
    height: 100%;
    opacity: 0.5;
    vertical-align: middle;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

#contact-us-main-image {
    background-image: url("../../images/contact_us/desktop/contact_us_desk.jpg");
}

@media screen and (max-width: 992px) {
    #contact-us-main-image {
        background-image: url("../../images/contact_us/tablet/contact_us_tab.png");
    }
}

@media screen and (max-width: 576px) {
    #contact-us-main-image {
        background-image: url("../../images/contact_us/mobile/contact_us_mob.jpg");
    }
}