.header-area .main-nav .company-logo {
    height: 50px;
}

.header-area .main-nav .logo-container {
    text-align: left;
}

@media (min-width: 992px) {
    .header-area .main-nav .logo-container {
        display: inline-block;
    }
}

@media (max-width: 991px) {
    .header-area .main-nav .logo-container {
        display: block;
    }
}

@media (max-width: 575px) {
    .header-area .main-nav .logo::before {
        content: "ABPL";
    }
}

@media (min-width: 576px) {
    .header-area .main-nav .logo::before {
        content: "ADIT BUILDWELL PVT. LTD.";
    }
}