div.polaroid {
    width: 80%;
    padding-left: 5;
    padding-right: 5;
    margin: 0px;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 25px;
}

#projects div.container {
    text-align: center;
    padding: 10px 20px;
}


/* 
---------------------------------------------
projects
--------------------------------------------- 
*/

#projects .section-heading {
    text-align: left;
}

#projects .filters {
    margin-top: 50px;
}

#projects .filters ul {
    padding: 0;
}

#projects .filters ul li {
    text-align: left;
    list-style: none;
    display: block;
    padding: 15px 0px;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    color: #9a9a9a;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#projects .filters ul li.all-projects {
    margin-top: 20px;
}

#projects .filters ul li.active,
#projects .filters ul li:hover {
    color: #5fb759;
}

#projects .filters-content {
    margin-top: 50px;
}

#projects .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms;
}

#projects .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
}

#projects .filters-content .all {
    margin-bottom: 30px;
}

#projects .filters-content .item {
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#projects .filters-content .item:hover {
    opacity: 0.75;
}

#projects .filters-content .item .p-inner {
    padding: 20px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#projects .filters-content .item .p-inner h5 {
    font-size: 15px;
}

#projects .filters-content .item .p-inner .cat {
    font-size: 13px;
}

#projects .filters-content .item img {
    width: 100%;
}

#projects {
    padding-top: 80px;
    padding-bottom: 30px;
}

#projects .section-heading {
    margin-bottom: 60px;
}

#projects .section-heading h6 {
    color: #5fb759;
}

@media (max-width: 992px) {
    #projects .filters ul li {
        display: inline-block;
        margin-right: 10px;
        padding: 0px;
    }
    #projects .section-heading {
        margin-bottom: 0px;
    }
}

.img-fill .projects-carousel {
    height: 100%;
    opacity: 0.5;
    vertical-align: middle;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

#projects-image1 {
    background-image: url("../../images/projects/carousel/desktop/DIL-Gurgaon_desk.jpg");
}

#projects-image2 {
    background-image: url("../../images/projects/carousel/desktop/dps_international_desk.jpg");
}

#projects-image3 {
    background-image: url("../../images/projects/carousel/desktop/britania_guwahati_desk.jpg");
}

#projects-image4 {
    background-image: url("../../images/projects/carousel/desktop/expo_GNoida.jpg");
}

#projects-image5 {
    background-image: url("../../images/projects/carousel/desktop/Paras_school_desk.jpg");
}

#projects-image6 {
    background-image: url("../../images/projects/carousel/desktop/vega_desk.jpg");
}

#projects-image7 {
    background-image: url("../../images/projects/carousel/desktop/varun_nuh_desk.jpg");
}

#projects-image8 {
    background-image: url("../../images/projects/carousel/desktop/jubilant_GNoida.jpg");
}

#projects-image9 {
    background-image: url("../../images/projects/carousel/desktop/pepsi1.jpg");
}

#projects-image10 {
    background-image: url("../../images/projects/carousel/desktop/britannia_bharuch.jpg");
}

@media screen and (max-width: 992px) {
    #projects-image1 {
        background-image: url("../../images/projects/carousel/tablet/DIL-Gurgaon_tab.jpg");
    }
}

@media screen and (max-width: 992px) {
    #projects-image2 {
        background-image: url("../../images/projects/carousel/tablet/dps_international_tab.jpg");
    }
}

@media screen and (max-width: 992px) {
    #projects-image3 {
        background-image: url("../../images/projects/carousel/tablet/britania_guwahati_tab.jpg");
    }
}

@media screen and (max-width: 992px) {
    #projects-image4 {
        background-image: url("../../images/projects/carousel/tablet/expo_GNoida_tab.jpg");
    }
}

@media screen and (max-width: 992px) {
    #projects-image5 {
        background-image: url("../../images/projects/carousel/tablet/Paras_school_tab.jpg");
    }
}

@media screen and (max-width: 992px) {
    #projects-image6 {
        background-image: url("../../images/projects/carousel/tablet/vega_tab.jpg");
    }
}

@media screen and (max-width: 992px) {
    #projects-image7 {
        background-image: url("../../images/projects/carousel/tablet/varun_nuh_tab.jpg");
    }
}

@media screen and (max-width: 992px) {
    #projects-image8 {
        background-image: url("../../images/projects/carousel/tablet/jubilant_GNoida_tab.jpg");
    }
}

@media screen and (max-width: 992px) {
    #projects-image9 {
        background-image: url("../../images/projects/carousel/tablet/pepsi1_tab.jpg");
    }
}

@media screen and (max-width: 992px) {
    #projects-image10 {
        background-image: url("../../images/projects/carousel/tablet/britannia_bharuch_tab.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image1 {
        background-image: url("../../images/projects/carousel/mobile/DIL_Gurgaon_mob.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image2 {
        background-image: url("../../images/projects/carousel/mobile/dps_international_mob.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image3 {
        background-image: url("../../images/projects/carousel/mobile/britania_guwahati_mob.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image4 {
        background-image: url("../../images/projects/carousel/mobile/expo_GNoida_mob.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image5 {
        background-image: url("../../images/projects/carousel/mobile/Paras_school_mob.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image6 {
        background-image: url("../../images/projects/carousel/mobile/vega_mob.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image7 {
        background-image: url("../../images/projects/carousel/mobile/varun_nuh_mob.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image8 {
        background-image: url("../../images/projects/carousel/mobile/jubilant_GNoida_mob.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image9 {
        background-image: url("../../images/projects/carousel/mobile/pepsi1_mob.jpg");
    }
}

@media screen and (max-width: 576px) {
    #projects-image10 {
        background-image: url("../../images/projects/carousel/mobile/britannia_bharuch_mob.jpg");
    }
}